<a href="https://colab.research.google.com/github/esn73/lab_python/blob/master/ml08_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pyplot

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

# Fish 데이터 셋

In [4]:
fish_scv = 'https://github.com/JakeOh/202110_itw_lab_python/raw/main/fish.csv'

In [5]:
fish = pd.read_csv(fish_scv)

## 이진 분류(binary classification)

* 생선의 종류들 중에서 도미(Bream)와 빙어(Smelt)를 분류
* 생선의 모든 특성(Weight, Length, Diagonal, Height, Width)을 사용

In [9]:
# Bream과 Smelt로 이루어진
df = fish[fish['Species'].isin(['Bream', 'Smelt'])]

In [11]:
df.head()

  Species  Weight  Length  Diagonal   Height   Width
0   Bream   242.0    25.4      30.0  11.5200  4.0200
1   Bream   290.0    26.3      31.2  12.4800  4.3056
2   Bream   340.0    26.5      31.1  12.3778  4.6961
3   Bream   363.0    29.0      33.5  12.7300  4.4555
4   Bream   430.0    29.0      34.0  12.4440  5.1340

In [13]:
df.tail()

    Species  Weight  Length  Diagonal  Height   Width
154   Smelt    12.2    12.2      13.4  2.0904  1.3936
155   Smelt    13.4    12.4      13.5  2.4300  1.2690
156   Smelt    12.2    13.0      13.8  2.2770  1.2558
157   Smelt    19.7    14.3      15.2  2.8728  2.0672
158   Smelt    19.9    15.0      16.2  2.9322  1.8792

In [19]:
X = df.iloc[:, 1:].values # 특성 행렬(2차원 배열)
y = df['Species'].values  # 타겟 배열

In [21]:
X.shape, y.shape

((49, 5), (49,))