<a href="https://colab.research.google.com/github/esn73/lab_python/blob/master/py04_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for 반복문

```

for 변수 in iterable-type:
    반복해서 실행할 문장(들)
```

* iterable type: 반복 가능한 자료 타입
  * range, list, tuple, dict, set, str, ...

In [ ]:
# range(stop): 0 <= x < stop 범위 1씩 증가하는 정수들을 생성. 5보다 작은 범위안에 있는 숫자 x에 대해서 출력
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
# range(start, stop): start <= x < stop 범위의 1씩 증가하는 정수들을 생성.
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [ ]:
# range(start, stop, step): start <= x < stop 범위의 step만큼씩 증가하는 정수들을 생성.
for x in range(0, 10, 2):
  print(x)

0
2
4
6
8

In [ ]:
# range(start, stop, step): start >= x stop step만큼씩 감소하는 정수들을 생성.
for x in range(5, 0, -1): 
    print(x)

5
4
3
2
1

In [ ]:
for x in '안녕하세요':
    print(x)

안
녕
하
세
요

# Exercise 1

다음과 같이 출력
```

*
**
***
****
*****
```

In [ ]:
print('*'* 1)
print('*'* 2)
print('*'* 3)
print('*'* 4)
print('*'* 5)

*
**
***
****
*****

In [ ]:
for n in range(1, 6):
    print('*' * n)

*
**
***
****
*****

# Exercise 2
구구단 12단을 다음과 같이 출력

```
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
...
12 x 12 = 144

In [ ]:
for n in range (1, 13):
  print(f'12 x {n} = {12 * n}')

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

# 중첩 반복문

반복문 안에 또 다른 반복문을 사용.

In [ ]:
# 구구단 2단 ~ 9단까지 출력
for dan in range(2, 10): # 2 <= dan < 10
    for n in range(1, 10): # 1 <= n <10
      print(f'{dan} x {n} = {dan * n}')
    print('-'* 20)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------

# `break`와 `continue`

* break: iteration을 종료. break가 포함된 가장 가까운 반복문을 빠져 나옴.
* continue: (반복문 내부의 실행문 수행을 멈추고) 그 다음 iteration을 수행.

In [ ]:
for x in range(5):
    if x == 2:
        break
    print(x)

0
1

In [ ]:
for x in range(5):
    if x == 2:
        continue
    print(x)

0
1
3
4

# Exercise 3
다음과 같이 구구단을 출력

```
2 x 2 = 2
2 x 2 = 4
----------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
...
-----------------------
9 x 1 = 9
...
9 x 9 = 81
```

In [ ]:
for dan in range(2, 10): # 2 <= dan < 10
  for n in range(1, 10): # 1 <= n < 10
    print(f'{dan} x {n} = {dan * n}')
    if n == dan:
      break
  print('-' * 20)

2 x 1 = 2
2 x 2 = 4
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------

In [ ]:
for dan in range(2, 10):
  for n in range(1, dan + 1):
    print(f'{dan} x {n} = {dan * n}')
  print('-' * 20)

2 x 1 = 2
2 x 2 = 4
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------