<a href="https://colab.research.google.com/github/esn73/lab_python/blob/master/py06_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List(리스트)

list: 여러개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.

* element(원소, 요소): 리스트에 저장되는 각각의 값.
* index(인덱스): 리스트에 원소들이 저장된 위치(번호).
    * 리스트의 인덱스는 **0**부터 시작.
    * 리스트에서 마지막 원소의 인덱스는 **(원소의 개수 - 1)**
* 리스트는 원소들을 추가/삭제/변경할 수 있음.
    * tuple과 다른 점!

In [ ]:
# 숫자들을 저장하는 리스트
numbers = [1, 20, 3, 40, 7]

In [ ]:
print(numbers)

[1, 20, 3, 40, 7]

In [ ]:
numbers

[1, 20, 3, 40, 7]

ipynb의 코드 셀에서 가장 마자막 줄의 문장이 식(expression: 변수, 값, 등)이면 식을 평가한 결과를 자동으로 출력해줌

In [ ]:
type(numbers)

list

# Indexing
인덱스를 사용해서 리스트의 원소를 사용하는 방법.

In [ ]:
numbers[0] # list의 첫번째 원소

1

In [ ]:
numbers[4] # list의 마지막 원소

7

In [ ]:
numbers[-1]

7

In [ ]:
numbers[-2] #list에서 끝에서 두번째 원소

40

In [ ]:
# numbers[5] #> IndexError

# Slicing

In [ ]:
numbers[1:4]

[20, 3, 40]

```
list[start:end]

* start <= index < end 범위의 인덱스 위치의 원소들을 선택.
* start가 생략되면 리스트의 첫번째 원소부터 선택. (0 <= index < end 범위의 원소들을 선택.)
* end가 생략되면 리스트의 마지막 원소까지 선택(start <= index < 마지막)
* slicing의 결과는 새로운 list.

In [ ]:
numbers[:3] # 리스트에서 첫번째 원소부터 순서대로 3개를 선택

[1, 20, 3]

In [ ]:
numbers[2:] # 리스트에서 끝에서 3개의 원소를 선택

[3, 40, 7]

In [ ]:
numbers[-3:]

[3, 40, 7]

In [ ]:
numbers[0] #> indexing의 결과: 값(int)

1

In [ ]:
numbers[0:1] #> slicing의 결과: 원소가 1개인 list

[1]

# 문자열(str)

문자들의 리스트

* 문자열 객체도 리스트 객체처럼 indexing과 slicing을 사용할 수 있다.

In [ ]:
message = 'Hello, Python!' #14개의 문자들을 원소로 갖는 문자열

In [ ]:
message[0] # 문자열에서 첫번째 문자

'H'

In [ ]:
message[13] # 문자열에서 가장 마지막 문자

'!'

In [ ]:
message[-1]

'!'

In [ ]:
message[:3] # 문자열에서 첫 3글자

'Hel'

In [ ]:
message[-3:] # 문자열에서 마지막 3글자

'on!'

# list의 산술 연산

* `+`: concatenate. 두 개의 리스트를 하나의 리스트로 합침.
* `*`: replicate. 리스트의 원소들을 곱해주는 숫자만큼 복사해서 원소의 개수를 늘림.

In [ ]:
' Hello' + 'Python'

' HelloPython'

In [ ]:
[1, 2, 3] + [10, 20, 30]

[1, 2, 3, 10, 20, 30]

In [ ]:
'Hello' * 3

'HelloHelloHello'

In [ ]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## element 추가

In [ ]:
numbers

[1, 20, 3, 40, 7]

`list.append(arg)`

리스트의 가장 마지막에 새로운 원소(arg)를 추가

In [ ]:
numbers.append(100)

In [ ]:
numbers

[1, 20, 3, 40, 7, 100]

list.insert(index, value)
list의 index 위치에 value를 추가(삽입)

In [ ]:
numbers.insert(1, 100)

In [ ]:
numbers

[1, 100, 20, 3, 40, 7, 100]

`list.extend(iterable)`

리스트 이어 붙이기(concatenate). `+` 연산과 동일한 기능.

In [ ]:
numbers.extend([2, 4, 6]) #numbers + [2, 4, 6]

In [ ]:
numbers

[1, 100, 20, 3, 40, 7, 100, 2, 4, 6]

In [ ]:
# 주의!!!
numbers.append([1, 3, 5]) #> 리스트의 가장 마지막에 다른 리스트가 원소로 추가.

In [ ]:
numbers

[1, 100, 20, 3, 40, 7, 100, 2, 4, 6, [1, 3, 5], [1, 3, 5], [1, 3, 5]]

#element삭제

  `
  list에서 처음 등장하는 value 한개를 삭제.

In [ ]:
numbers.remove(100)

In [ ]:
numbers

[1, 20, 3, 40, 7, 100, 2, 4, 6, [1, 3, 5], [1, 3, 5], [1, 3, 5]]

`list.pop(index)`

list에서 index 위치에 있는 값을 삭제하고, 삭제한 값을 리턴. index를 전달하지 않으면, list에서 *가장 마지막 원소*를 삭제

In [ ]:
numbers.pop(0)

1

In [ ]:
numbers

[20, 3, 40, 7, 100, 2, 4, 6, [1, 3, 5], [1, 3, 5], [1, 3, 5]]

In [ ]:
numbers.pop()

[1, 3, 5]

`list.clear()`

list의 모든 원소들을 삭제.

In [ ]:
numbers.clear()

In [ ]:
numbers #> empty list(빈 리스트)

[]

## list의 값 수정

```
list[index] = value
```

In [ ]:
numbers = [1, 3, 5, 7]
numbers

[1, 3, 5, 7]

In [ ]:
numbers[1] = 100 # 인덱스 1 위치의 값(3)을 100으로 변경
numbers

[1, 100, 5, 7]

list와 for 반복문

In [ ]:
for x in 'hello':
    print(x)

h
e
l
l
o

In [ ]:
for x in numbers:
    print(x)

1
100
5
7

리스트에 인덱스와 그 인덱스의 원소가 모두 필요한 경우

In [ ]:
len(numbers) # 리스트 numbers의 원소의 개수를 리턴.

4

In [ ]:
for i in range(len(numbers)):
    print(i, ':', numbers[i])

0 : 1
1 : 100
2 : 5
3 : 7

In [ ]:
# list에서 리스트의 인덱스와 그 인덱스 위치의 값을 동시에 반복(iteration)
for index, value in enumerate(numbers):
    print(index, ':', value)

0 : 1
1 : 100
2 : 5
3 : 7

# Exercises

Python에서 난수(random number) 생성: `random` 모듈을 import하고 `random`모듈에 있는 함수들을 사용.

In [ ]:
import random # random 모듈 임포트(사용)

In [ ]:
random.random() # 0 <= x < 1 범위의 실수(float) 난수를 리턴.

0.22826475221229103

In [ ]:
random.randrange(1, 5) #  <=  5 범위의 정수(int) 난수를 리턴.

4

## Ex1
1. 빈 리스트를 생성
1. 1 이상 10이하의 정수 난수 5개를 저장
1. 리스트에 저장된 모든 정수들의 합을 계산, 출력.
1. 리스트에 저장된 모든 정수들의 평균을 계산, 출력.

In [ ]:
numbers = []
for _ in range(5):
    numbers.append(random.randrange(1, 11))
    print(numbers)

[4]
[4, 3]
[4, 3, 10]
[4, 3, 10, 8]
[4, 3, 10, 8, 6]

In [ ]:
sum(numbers)  #sum(iteralbe) : iterable 타입 객체의 모든 원소들의 합을 리턴.

29

In [ ]:
total = 0
for x in numbers:
    total += x
    
total

29

In [ ]:
total / len(numbers)

5.8

## Ex 2.

1. 빈 리스트(numbers) 생성
1. [10, 100] 범위의 난수 10개를 빈 리스트에 저장
1. numbers에서 짝수들만 선택해서 evens 리스트에 저장.
1. numbers에서 홀수들만 선택해서 odds 리스트에 저장.

In [ ]:
numbers = []  # 빈 리스트 생성
for i in range(10): # 10번 반복하면서
  numbers.append(random.randrange(10, 100)) # 10이상 100 미만의 난수를 리스트에 추가
numbers # 리스트 내용 출력

[31, 65, 78, 55, 74, 90, 26, 82, 77, 71]

In [ ]:
evens = [] # numbers의 짝수들을 저장할 리스트
for x in numbers: #리스트 number의 원소들을 반복(iteration)하면서
    if x % 2 == 0:  # 리스트에서 꺼낸 원소가 짝수이면
      evens.append(x)
evens

[78, 74, 90, 26, 82]

In [ ]:
odds = [] # 홀수들을 저장할 리스트
for x in numbers: #리스트 number의 원소들을 반복(iteration)하면서
    if x % 2:  # 리스트에서 꺼낸 원소가 홀수이면이면
      odds.append(x)  # 홀수 추가
odds

[31, 65, 55, 77, 71]

Ex 3.
  1. 빈 리스트(number)를 생성
  1. [-10, 10] 범위의 난수 10개를 numbers에 저장
  1. numbers의 원소가 양수이면 True, 그렇지 않으면 false를 저장하는 리스트 is_positives를 만들고 출력.

In [ ]:
numbers = []

for i in range(10):
  numbers.append(random.randrange(-10, 11))
print(numbers)

is_positives = []
for i in numbers: 
  if i > 0:
    is_positives.append(True)
  else:
    is_positives.append(False) 

print(is_positives)

[-2, -4, -9, 1, -5, 8, -1, 7, 2, 2]
[False, False, False, True, False, True, False, True, True, True]

Ex4.
  1. 빈 리스트 gender_codes를 생성
  1. gender_codes에 0 또는 1을 랜덤하게 10번 저장.
  1. gender_codes의 값이 0이면 'Male', 1이면 'Female'을 저장하는 리스트 genders를 만들고 출력.

In [ ]:
gender_codes = []
for i in range(10):
    gender_codes.append(random.randrange(0, 2))
print(gender_codes)

In [ ]:
genders = []
for i in gender_codes:
    if i == 0:
      genders.append('Male')
    else:
      genders.append('Female')
print(genders)

# List Comprehension(리스트 내포)

1~10까지 정수를 차례로 저장하고 있는 리스트: [1, 2, 3, ..., 9, 10]

In [ ]:
numbers = []
for x in range(1, 11):
    numbers.append(x)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers = [ x for x in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1부터 10까지 정수들의 제곱을 저장하는 리스트: `[1, 4, 9, 16, ..., 64, 81, 100]`

In [ ]:
squares = []
for x in range(1, 11):
     squares.append(x ** 2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[x ** 2 for x in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

0 이상 10 이하의 짝수들을 저장하는 리스트: [0, 2, 4, 6, 8, 10]

In [ ]:
[x for x in range(0, 11, 2)]

[0, 2, 4, 6, 8, 10]

0 이상 10 이하의 홀수들을 저장하는 리스트: `[1, 3, 5, 7, 9]`

In [ ]:
[ x for x in range(1, 11, 2)]

[1, 3, 5, 7, 9]

In [ ]:
# 10 이상 100 미만의 정수 10개를 저장하는 리스트
numbers = [random.randrange(10, 100) for _ in range(10)]
numbers

[80, 18, 56, 18, 74, 63, 84, 12, 77, 20]

In [ ]:
# numbers에서 짝수들만 선택해서 저장한 리스트
evens = [x for x in numbers if x % 2 == 0]
evens

[80, 18, 56, 18, 74, 84, 12, 20]

In [ ]:
# numbers에서 홀수들만 선택해서 저장한 리스트
odds = [x for x in numbers if x % 2]
odds

[63, 77]

In [ ]:
# numbers의 숫자가 짝수이면 'odd', 홀수이면 'even'을 저장하는 리스트
is_even = ['even' if x % 2 == 0 else 'odd' 
           for x in numbers]
is_even

['even', 'even', 'even', 'even', 'even', 'odd', 'even', 'even', 'odd', 'even']

In [ ]:
x = -100
is_positive = True if x > 0 else False # if-else 표헌식: java의 삼항 연산자(if 조건 ?  값1 : 값2)
is_positive

False

In [ ]:
# -10 이상 10 이하의 정수 난수 10개를 저장하는 리스트
numbers = [random.randrange(-10, 10) for _ in range(10)]
numbers

[5, -4, 2, 8, -6, 7, 3, 6, 4, -6]

In [ ]:
# numbers의 원소들 중에서 양수들만 저장하는 리스트
positives = [ x for x in numbers if x > 0 ]
positives

[5, 2, 8, 7, 3, 6, 4]

In [ ]:
# numbers의 원소들 중에서 양수가 아닌 (음수 또는 0 ) 숫자들만 저장하는 리스트
not_positives = [x for x in numbers if x <= 0 ]
not_positives

[-4, -6, -6]

In [ ]:
# numbes의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 리스트
is_positives = [True if x > 0 else False for x in numbers]
is_positives

[True, False, True, True, False, True, True, True, True, False]

# List Comprehension 연습

## Ex 1.
1. 0 또는 1을 랜덤하게 10개를 저장하는 리스트 gender_codes를 만들고 출력.
1. gender_codes의 값이 0이면 'Male', 1이면 'Female'을 저장하는 리스트 genders를 만들고 출력

In [6]:
import random
gender_codes = [random.randrange(0, 2) for x in range(10)]
gender_codes

[1, 0, 0, 1, 1, 0, 1, 0, 0, 1]

In [ ]:
genders = ['Male' if x == 0 else 'Female' for x in gender_codes]
print(genders)

['Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female']

##Ex 2.
1. 0, 1, 2를 랜덤하게 10개 저장하는 리스트 gender_codes를 만들고 출력.
1. gender_codes의 값이 0이면 'Male', 1이면 'Female', 2이면 'Unknown'을 저장하는 리스트 genders를 만들고 출력.

In [ ]:
gender_codes = [random.randrange(0, 3) for x in range(10)]
gender_codes

[2, 1, 2, 2, 1, 2, 1, 1, 0, 2]

In [ ]:
genders = ['Male' if x == 0 else 'Female' if x == 1 else 'Unknown' for x in gender_codes]
print(genders)

['Unknown', 'Female', 'Unknown', 'Unknown', 'Female', 'Unknown', 'Female', 'Female', 'Male', 'Unknown']

##Ex 3.
1. 0 이상 10 미만의 정수 난수 10개를 저장하는 리스트 numbers1을 만들고 출력.
1. 0 이상 10 미만의 정수 난수 10개를 저장하는 리스트 numbers2을 만들고 출력.
1. numbers1과 numbers2에서 같은 인덱스의 원소들끼리의 합을 저장하는 리스트 adds를 만들고 출력.
1. numbers1과 numbers2에서 같은 인덱스의 원소들끼리의 곱을 저장하는 리스트 mutiplicatoins를 만들고 출력.
1. mutiplications의 모든 원소들의 합을 계산하고 출력.

In [7]:
numbers1 = [random.randrange(0, 10) for _ in range(10)]
numbers1

[4, 9, 4, 2, 6, 1, 9, 0, 7, 9]

In [8]:
numbers2 = [random.randrange(0, 10) for _ in range(10)]
numbers2

[4, 8, 8, 2, 0, 6, 0, 7, 7, 4]

In [10]:
adds = [numbers1[i] + numbers2[i] for i in range(10)] 
adds

[8, 17, 12, 4, 6, 7, 9, 7, 14, 13]

In [12]:
adds = [ x + y for x, y in zip(numbers1, numbers2)]
adds

[8, 17, 12, 4, 6, 7, 9, 7, 14, 13]

In [13]:
multiplications = [ x * y for x, y in zip(numbers1, numbers2)]
multiplications

[16, 72, 32, 4, 0, 6, 0, 0, 49, 36]

In [14]:
sum(multiplications)

215

In [15]:
total = 0
for x in multiplications:
    total += x
total

215

# 다차원 리스트

In [17]:
matrix = [ [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9] ]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 2차원 리스트의 indexing

In [18]:
matrix[0] #> 1차원 리스트

[1, 2, 3]

In [19]:
matrix[0][0]

1

In [20]:
matrix[1][2]

6

## 2차원 리스트와 for 반복문

In [25]:
for row in matrix:
  print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [26]:
for row in matrix:
    for x in row:
      print(x)

1
2
3
4
5
6
7
8
9

In [28]:
for row in matrix:
    for x in row:
        print(x, end= ' ') ## 줄바꿈이 없어짐
    print() # 줄바꿈

1 2 3
4 5 6
7 8 9

## 2차원 리스트와 list comprehension

In [52]:
# 3x3 모양의 정수 난수 9개를 저장하는 2차원 리스트를 생성.
matrix1 = [] # 빈 리스트 - 1차원 리스트들을 저장하기 위한 리스트
for _ in range(3):
  row = [] # 빈 리스트 - 3개의 난수를 저장하기 위한 리스트.
  for _ in range(3):
      row.append(random.randrange(10))
  matrix1.append(row)

matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [54]:
matrix2 = []
for _ in range(3):
    row = [random.randrange(10) for _ in range(3)]
    matrix2.append(row)
matrix2

[[8, 8, 8], [7, 3, 0], [8, 9, 5]]

In [55]:
matrix3 = [ [random.randrange(10) for _ in range(3)]
              for _ in range(3)]
matrix3

[[8, 9, 4], [0, 7, 6], [8, 8, 6]]

In [56]:
# matrix1, matrix2의 같은 인덱스에 있는 원소들끼리의 합을 원소로 갖는 리스트.
adds=[] # 각 원소들끼리의 합을 저장할 2차원 리스트
for row1, row2 in zip(matrix1, matrix2):
    temp = [] # 각 행에 있는 원소들끼리의 합을 저장할 1차원 리스트
    for x, y in zip(row1, row2):
        temp.append(x + y)
    adds.append(temp)
    
adds

[[11, 13, 12], [7, 11, 5], [12, 13, 11]]

In [57]:
adds = []
for row1, row2 in zip(matrix1, matrix2):
    temp = [x + y for x, y in zip(row1, row2)]
    adds.append(temp)
adds

[[11, 13, 12], [7, 11, 5], [12, 13, 11]]

In [58]:
adds = [  [x + y for x, y in zip(row1, row2)]
        for row1, row2 in zip(matrix1, matrix2)]
adds

[[11, 13, 12], [7, 11, 5], [12, 13, 11]]