<a href="https://colab.research.google.com/github/esn73/lab_python/blob/master/py08_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dict

* dictionary(사전) 형식의 데이터 타입
* 키(key)를 기반으로 값(value)를 저장하는 데이터 타입.
  * list, tuple: index를 기반으로 값을 저장하는 데이터 타입.
  * key의 역할은 list 또는 tuple에서 인덱스 역할과 마찬가지로, dict 타입에 저장되어 있는 유일한 1개의 값ㅇ르 참조하기 위한 용도.

In [3]:
students = {1: '홍길동', 2: 'Scott', 10: '김길동'}
students

{1: '홍길동', 2: 'Scott', 10: '김길동'}

In [5]:
type(students)

dict

In [6]:
len(students)

3

In [7]:
# dict의 저장된 값(value)를 참조할 떄 인덱스 연산자([])와 키(key)를 사용.
students[1]

'홍길동'

In [12]:
# dict에 새로운 아이템 추가: dict[new_key] = value
students[11] = 'Tiger'
students

{1: '홍길동', 2: 'Scott', 3: 'e', 10: 'King', 11: 'Tiger'}

In [13]:
# dict에서 해당 키의 값을 변경: dict[key] = new_value
students[10] = 'King'
students

{1: '홍길동', 2: 'Scott', 3: 'e', 10: 'King', 11: 'Tiger'}

# dict의 메서드(기능)

In [14]:
book = {'title': '점프 투 파이썬', 'author': '박응용', 'price': 10_000}
book

{'author': '박응용', 'price': 10000, 'title': '점프 투 파이썬'}

In [15]:
# dict의 key들의 집합
book.keys()

dict_keys(['title', 'author', 'price'])

In [16]:
# dict의 value들의 집합
book.values()

dict_values(['점프 투 파이썬', '박응용', 10000])

In [18]:
#dict의 item(key, value)들의 집합
book.items()

dict_items([('title', '점프 투 파이썬'), ('author', '박응용'), ('price', 10000)])

In [20]:
# dict에서 해당 key의 value를 리턴.
book['title'] # 인덱스 연산자 + 키

'점프 투 파이썬'

In [22]:
book.get('title') # 메서드 호출하면서 키를 argument로 전달.

'점프 투 파이썬'

In [26]:
# 인덱스 연산자를 사용하는 경우, dict에 없는 키를 사용하면 KeyError가 발생함.
# print(book['isbn'])

# get() 메서드를 호출할 때는 dict에 없는 키인 경우 None을 리턴.
print(book.get('isbn'))

None

In [ ]:
# dict에서 아이템 삭제
book.pop('price')

In [29]:
book

{'author': '박응용', 'title': '점프 투 파이썬'}

dict는 키(key)와  값(value) 모두 다양한 타입의 자료들을 사용할 수 있음.

In [33]:
contact = {
    'no' : 1,
    'name': '오쌤',
    'phone': ['010-1111-2222', '02-1234-5678'], 
    'email': {'personal':'jake@gmail.com', 'company': 'jake@itiwill.co.kr'}
}
contact

{'email': {'company': 'jake@itiwill.co.kr', 'personal': 'jake@gmail.com'},
 'name': '오쌤',
 'no': 1,
 'phone': ['010-1111-2222', '02-1234-5678']}

In [35]:
contact['no'] #> int

1

In [36]:
contact['phone'] #> list

['010-1111-2222', '02-1234-5678']

In [38]:
contact['phone'][0]

'010-1111-2222'

In [39]:
contact['email']

{'company': 'jake@itiwill.co.kr', 'personal': 'jake@gmail.com'}

In [40]:
contact['email']['company'] #> dict

'jake@itiwill.co.kr'

# dict와 for 반복문

for-in 구문에 dict 타입 객체를 사용하면, key에 대해서 반복(iteration)을 함.

In [42]:
for k in contact:
  print(k)

no
name
phone
email

In [44]:
for k in contact:
    print(k, ":", contact[k])

no : 1
name : 오쌤
phone : ['010-1111-2222', '02-1234-5678']
email : {'personal': 'jake@gmail.com', 'company': 'jake@itiwill.co.kr'}

In [45]:
for item in contact.items():
        print(item)

('no', 1)
('name', '오쌤')
('phone', ['010-1111-2222', '02-1234-5678'])
('email', {'personal': 'jake@gmail.com', 'company': 'jake@itiwill.co.kr'})

In [46]:
# tuple decomposition: k, v = ('no', 1)
for k, v in contact.items():
      print(k, ':', v)

no : 1
name : 오쌤
phone : ['010-1111-2222', '02-1234-5678']
email : {'personal': 'jake@gmail.com', 'company': 'jake@itiwill.co.kr'}

# Dictionary Comprehension

In [47]:
emp_no = [101, 102, 103, 201, 202] # 사번 리스트
emp_name = ['King','Scott', 'Allen', 'Tiger', '오쌤'] # 직원 이름 리스트

In [52]:
# 사번을 key 로 하고, 이름을 value로 하는 dict 객체 생성
# 1) empty dict
emp = {}
# 2) dict[k] = v 추가 반복
for i in range(5):
   emp[emp_no[i]] = emp_name[i]
      
print(emp)

{101: 'King', 102: 'Scott', 103: 'Allen', 201: 'Tiger', 202: '오쌤'}

In [55]:
emp = {}
for x, y in zip(emp_no, emp_name):
    emp[x] = y

emp

{101: 'King', 102: 'Scott', 103: 'Allen', 201: 'Tiger', 202: '오쌤'}

In [57]:
# dictionary comprehension
emp = {k: v for k, v in zip(emp_no, emp_name)}
emp

{101: 'King', 102: 'Scott', 103: 'Allen', 201: 'Tiger', 202: '오쌤'}

In [63]:
fruits = ['apple', 'banana', 'cherry', 'pineapple', 'watermelon']

# {과일이름:이름의 길이} 형식ㄷ의 dict를 생성: {'apple':5, 'banana':6 ...}
fruit_lengths = {} # 빈 dict
for x in fruits:
    # print(x, len(x))
    fruit_lengths[x] = len(x)
fruit_lengths

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10}

In [65]:
lengths = {k: len(k) for k in fruits}
lengths

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10}