<a href="https://colab.research.google.com/github/esn73/lab_python/blob/master/py09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 집합(set)

* 중복된 데이터의 저장을 허용하지 않음. `{1, 2, 2, 3} = {1, 2, 3}`
* 데이터가 저장되는 순서가 중요하지 않음.(인덱스를 사용하지 않음) `{1, 3, 2} = {1, 2, 3}`

In [2]:
s1 = {1, 2, 2, 3, 3, 3}
s1

{1, 2, 3}

In [4]:
type(s1)

set

In [6]:
s2 = {3, 1, 2}
s2

{1, 2, 3}

In [8]:
# s1[0] #> set 객체는 인덱스를 사용할 수 없음.
# for-in 구문을 사용해서 set 객체의 원소들을 하나씩 반복하면서 참조.
for x in s1:
    print(x)

1
2
3

## set의 기능(메서드)

In [10]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5}

In [11]:
# 합집합(union)
s1.union(s2)

{1, 2, 3, 4, 5}

In [12]:
s1 | s2 #> |: 합집합 연산자

{1, 2, 3, 4, 5}

In [13]:
# 교집합(intersction)
s1.intersection(s2)

{3, 4}

In [14]:
s1 & s2 #? &: 교집합 연산자

{3, 4}

In [15]:
# 차집합(difference)
s1.difference(s2)

{1, 2}

In [16]:
s1 - s2 #> -: 차집합 연산자

{1, 2}

```
s1 | s2 = s2 | s1
s1 & s2 = s2 & s1
s1 - s2 != s2 - s1
```

In [19]:
# set(arg): set 객체를 생성해서 리턴.
numbers = [1, 2, 3, 1, 2, 1, 2, 3, 4] #> 9개의 아이템을 갖는 리스트

# numbers에서 중복되지 않는 값들의 개수
number_set = set(numbers)
print(number_set)

#numbers에서 중복되지 않는 값들의 개수
print(len(number_set))

{1, 2, 3, 4}
4

In [22]:
print(s1)

#set에 원소 추가. 이미 존재하는 원소이면 중복 저장은 되지 않음.
s1.add(100)
print(s1)

s1.add(1)
print(s1)

{1, 2, 3, 100, 4}
{1, 2, 3, 100, 4}
{1, 2, 3, 100, 4}

In [ ]:
# set의 원소 삭제.
s1.remove(100)
print(s1)