<a href="https://colab.research.google.com/github/esn73/lab_python/blob/master/py10_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(function)

* 함수(function): 기능을 수행하는 코드 블록.
* 인수(argument): 함수를 호출할 때, 함수에게 전달하는 값(들).
* 매개 변수(parameter): argument를 저장하기 위해서, 함수를 정의할 때 선언하는 (지역) 변수.
* 반환 값(return value): 함수가 기능 수행의 결과로 반환하는 값.
  * 반환 값이 있는 함수
  * 반환 값이 없는 함수

In [ ]:
result = len([1, 2, 3, 4, 5])
# function: len
# argument: [1,2,3,4,5]
# 함수 호출(call, invoke): len([1, 2, 3, 4, 5])
# return value: 5

In [ ]:
result

5

# 함수 정의(선언)방법

```
public void functionName(int x, String s) {}
function funcName(arg, arg, ...) {}
def function_name([pram1, ...]):
    ["""문서화 주석(documentation comment): 함수에 대한 설명"""]
    함수 기능 작성(코드)
    [return 반환 값]
```

In [ ]:
def subtract(x, y):
    """ 숫자 2개(x, y)를 전달받아서, x-y를 반환하는 함수.
    """
    return x - y

In [ ]:
result = subtract(1, 2)
result

-1

In [ ]:
def plus_and_minus(x, y):
    """2개의 숫자 x, y를 전달받아서, x+y와 x-y를 반환하는 함수.
    """
    return x + y, x - y

In [ ]:
result = plus_and_minus(1, 2)
result #> tuple

(3, -1)

In [ ]:
# tuple decomposition(분해): x, y = (3, -1)
plus, minus = plus_and_minus(1, 2)
print(plus)
print(minus)

3
-1

값을 반환하지 않는 함수

In [ ]:
def repeat_messages(message, n):
  """문자열 message와 양의 정수 n을 전달 받아서, 
  전달받은 문자열을 n번 반복해서 출력하는 함수.
  """
  for _ in range(n):
      print(message)

  # return None # 반환 값이 없다는 것을 명시적으로 작성
  # 반환 값이 없는 경우 return None 문장을 보통 생략함

In [ ]:
reusult = repeat_messages('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

In [ ]:
print(reusult) #> None: 값이 없음.

None

In [10]:
import random  # 난수 관련 함수들을 사용하기 위해서
import math  # 수학 함수들을 사용하기 위해서

## Ex 1.
* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환.

In [16]:

def make_list(start, end, n):
  # array = [] # 빈 리스트
  # for _ in range(n): # n번 반복하면서
  #   array.apeend(random.randrange(start, end)) # 난수를 생성해서 리스트에 추가 
  # return array # 리스트를 리턴.

  return [random.randrange(start, end) for _ in range(n)]

In [31]:
num_list = make_list(-10, 10, 5)
num_list

[-6, 0, -10, 2, 4]

## Ex 2.
* 함수 이름: calc_sum
* 기능: 숫자들을 저장하고 있는 리스트의 모든 원소들의 합을 반환.

In [32]:
def calc_sum(numbers):    
  # return sum(numbers)
  total = 0
  for x in numbers:
      total += x
  return total

In [33]:
total = calc_sum(num_list)
total

-10

## Ex 3.
* 함수 이름: calc_mean
* 기능: 숫자들을 저장하고 있는 리스트의 모든 원소들의 평균을 반환

In [29]:
def calc_mean(numbers):
    return calc_sum(numbers) /  len(numbers)

In [34]:
mean =  calc_mean(num_list)
mean

-2.0

##Ex 4.
* 함수 이름: calc_variance
* 기능: 숫자들을 저장하고 있는 리스트의 원소들의 분산을 반환.

In [37]:
def calc_variance(numbers):
    mean = calc_mean(numbers) # 평균
    squares = [(x - mean) ** 2 for x in numbers]
    var = calc_sum(squares) / (len(numbers) - 1)
    return var

In [38]:
var = calc_variance(num_list)
var

34.0

##Ex 5.
* 함수 이름: calc_stddev
* 기능: 숫자들을 저장하고 있는 리스트의 원소들의 표준편차를 반환

In [40]:
def calc_stddev(numbers):
    return math.sqrt(calc_variance(numbers))

In [41]:
stddev = calc_stddev(num_list)
stddev

5.830951894845301

## Ex 6.
* 함수 이름: find_max_and_min
* 기능: 숫자들을 저장하고 있는 리스트에서 최댓값과 최솟값을 반환.

In [47]:
def find_max_and_min(numbers):
    # return max(numbers), min(numbers)
    max_numbers = numbers[0]
    min_numbers = numbers[0]
    for x in numbers:
        if x > max_numbers:
            max_numbers = x
        if x < min_numbers:
            min_numbers = x
    return max_numbers, min_numbers

In [45]:
num_list

[-6, 0, -10, 2, 4]

In [46]:
find_max_and_min(num_list)

(4, -10)