<a href="https://colab.research.google.com/github/esn73/lab_python/blob/master/py12_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#OOP(Object-Oriented Programming, 객체 지향 프로그래밍의 배경

## list, dict 사용

In [3]:
studnents = [
             {'name': 'aa', 'korean':90, 'english': 95, 'math': 80},
             {'name': 'bb', 'korean':70, 'english': 80, 'math': 55},
             {'name': 'cc', 'korean':80, 'english': 95, 'math': 90}
]

In [4]:
# 각 학생의 3과목 총점과 평균
for s in studnents:
    total = s['korean'] + s['english'] + s['math']
    mean = total / 3
    print(f'이름: {s["name"]}, 총점: {total}, 평균:{mean}')

이름: aa, 총점: 265, 평균:88.33333333333333
이름: bb, 총점: 205, 평균:68.33333333333333
이름: cc, 총점: 265, 평균:88.33333333333333

#함수형 프그래밍(Functional Programming)

In [6]:
def create_student(name, korean, english, math):
    student = {
        'name': name,
        'korean': korean,
        'english': english,
        'math': math
    }
    return student

In [7]:
students = [
            create_student(name='aa', korean=100, english=100, math=100),
            create_student(name='bb', korean=90, english=100, math=100),
            create_student(name='cc', korean=80, english=100, math=100),
            create_student(name='dd', korean=77, english=100, math=100),
]

In [11]:
def get_total(student):
    return student['korean'] + student['english'] + student['math']

In [12]:
def get_mean(student):
    return get_total(student) / 3

In [13]:
for s in students:
    total = get_total(s)
    mean = get_mean(s)
    print(f'이름: {"name"}, 총점: {total}, 평균:{mean}')

이름: name, 총점: 300, 평균:100.0
이름: name, 총점: 290, 평균:96.66666666666667
이름: name, 총점: 280, 평균:93.33333333333333
이름: name, 총점: 277, 평균:92.33333333333333

## 객체 지향 프로그래밍(OOP)

* 객체(object): 소프트웨어로 구현할 대상.
* 클래스(class): 객체를 구현하기 위한 소스 코드.
    * 속성(attribute, property): 객체가 가져야 하는 데이터. 변수들에 저장되는 값.
    * 메서드(method): 객체가 가져야 하는 기능. 클래스 내부에서 정의하는 함수.
* 인스턴스(instance): 클래스를 사용해서 메모리에 생성된 객체.
* 인스턴스 생성(intantiate): 클래스의 객체를 메모리에 생성하는 것.
* 생성자(constructor): 인스턴스를 생성하기 위해서 호출하는 함수. 클래스 이름과 동일한 함수

In [14]:
# 클래스 정의
class Student:
    # 생성자 함수: 생성자가 호출됐을 때 자동으로 호출되는 함수. 속성들을 선언하고 초기화.
    def __init__(self, name, korean, english, math):
        self.name = name
        self.korean = korean
        self.englsih =  english
        self.math = math
    # 메서드
    def get_total(self):
        return self.korean + self.englsih + self.math
    
    def get_mean(self):
        return self.get_total() / 3

    def print_info(self):
        print(f'이름:{self.name}, 총점: {self.get_total()}, 평균: {self.get_mean()}')

In [19]:
stu1 = Student(name='홍길동', korean=100, english=80, math=70)

In [17]:
stu1.get_total()

250

In [18]:
stu1.get_mean()

83.33333333333333

In [20]:
stu1.print_info()

이름:홍길동, 총점: 250, 평균: 83.33333333333333

In [21]:
dir(stu1) # 객체가 가지고 있는 멤버들(속성과 메서드)의 리스트

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'englsih',
 'get_mean',
 'get_total',
 'korean',
 'math',
 'name',
 'print_info']

# class 작성 연습

In [22]:
import math # 수학 관련 함수들을 사용하기 위해서

In [24]:
class Point:
    """2차원 평면의 점의 좌표를 표현하는 클래스"""
    
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def move(self, dx, dy):
        """점의 좌표를 원래 위치에 x축의 방향으로 dx만큼, y축의 방향으로 dy만큼 이동"""
        self.x += dx
        self.y += dy
    
    def distance(self, other):
        """현재 위치와 다른 점 other 사이의 거리를 리턴"""
        return math.sqrt((self.x - other.x)**2 + (self.y - other.y)**2)

In [25]:
pt1 = Point() # 생성자 호출 -> Point 클래스의 인스턴스 생성

In [29]:
# 객체(인스턴스)의 속성들(멤버 변수들)
print(pt1.x)
print(pt1.y)

0
0

In [32]:
pt2 = Point(x=3, y=4)
print(pt2)
print(pt2.x)
print(pt2.y)

<__main__.Point object at 0x7ff83f8e6a50>
3
4

In [34]:
pt3 = Point(1)
print(pt3)
print(pt3.x, pt3.y)

<__main__.Point object at 0x7ff83f93ff10>
1 0

In [38]:
pt4 = Point(y=1)
print(pt4)
print(pt4.x, pt4.y)

<__main__.Point object at 0x7ff83f925ed0>
0 1

In [39]:
# pt4를 x축의 방향으로 1만큼, y축의 방향으로 2만큼 이동
pt4.move(dx=1, dy=2)
print(pt4.x, pt4.y)

1 3

In [40]:
pt1.distance(pt2)

5.0