<a href="https://colab.research.google.com/github/esn73/lab_python/blob/master/py12_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#OOP(Object-Oriented Programming, 객체 지향 프로그래밍의 배경

## list, dict 사용

In [3]:
studnents = [
             {'name': 'aa', 'korean':90, 'english': 95, 'math': 80},
             {'name': 'bb', 'korean':70, 'english': 80, 'math': 55},
             {'name': 'cc', 'korean':80, 'english': 95, 'math': 90}
]

In [4]:
# 각 학생의 3과목 총점과 평균
for s in studnents:
    total = s['korean'] + s['english'] + s['math']
    mean = total / 3
    print(f'이름: {s["name"]}, 총점: {total}, 평균:{mean}')

이름: aa, 총점: 265, 평균:88.33333333333333
이름: bb, 총점: 205, 평균:68.33333333333333
이름: cc, 총점: 265, 평균:88.33333333333333

#함수형 프그래밍(Functional Programming)

In [6]:
def create_student(name, korean, english, math):
    student = {
        'name': name,
        'korean': korean,
        'english': english,
        'math': math
    }
    return student

In [7]:
students = [
            create_student(name='aa', korean=100, english=100, math=100),
            create_student(name='bb', korean=90, english=100, math=100),
            create_student(name='cc', korean=80, english=100, math=100),
            create_student(name='dd', korean=77, english=100, math=100),
]

In [11]:
def get_total(student):
    return student['korean'] + student['english'] + student['math']

In [12]:
def get_mean(student):
    return get_total(student) / 3

In [13]:
for s in students:
    total = get_total(s)
    mean = get_mean(s)
    print(f'이름: {"name"}, 총점: {total}, 평균:{mean}')

이름: name, 총점: 300, 평균:100.0
이름: name, 총점: 290, 평균:96.66666666666667
이름: name, 총점: 280, 평균:93.33333333333333
이름: name, 총점: 277, 평균:92.33333333333333

## 객체 지향 프로그래밍(OOP)

* 객체(object): 소프트웨어로 구현할 대상.
* 클래스(class): 객체를 구현하기 위한 소스 코드.
    * 속성(attribute, property): 객체가 가져야 하는 데이터. 변수들에 저장되는 값.
    * 메서드(method): 객체가 가져야 하는 기능. 클래스 내부에서 정의하는 함수.
* 인스턴스(instance): 클래스를 사용해서 메모리에 생성된 객체.
* 인스턴스 생성(intantiate): 클래스의 객체를 메모리에 생성하는 것.
* 생성자(constructor): 인스턴스를 생성하기 위해서 호출하는 함수. 클래스 이름과 동일한 함수

In [14]:
# 클래스 정의
class Student:
    # 생성자 함수: 생성자가 호출됐을 때 자동으로 호출되는 함수. 속성들을 선언하고 초기화.
    def __init__(self, name, korean, english, math):
        self.name = name
        self.korean = korean
        self.englsih =  english
        self.math = math
    # 메서드
    def get_total(self):
        return self.korean + self.englsih + self.math
    
    def get_mean(self):
        return self.get_total() / 3

    def print_info(self):
        print(f'이름:{self.name}, 총점: {self.get_total()}, 평균: {self.get_mean()}')

In [19]:
stu1 = Student(name='홍길동', korean=100, english=80, math=70)

In [17]:
stu1.get_total()

250

In [18]:
stu1.get_mean()

83.33333333333333

In [20]:
stu1.print_info()

이름:홍길동, 총점: 250, 평균: 83.33333333333333

In [21]:
dir(stu1) # 객체가 가지고 있는 멤버들(속성과 메서드)의 리스트

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'englsih',
 'get_mean',
 'get_total',
 'korean',
 'math',
 'name',
 'print_info']

# class 작성 연습

In [22]:
import math # 수학 관련 함수들을 사용하기 위해서

In [24]:
class Point:
    """2차원 평면의 점의 좌표를 표현하는 클래스"""
    
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def move(self, dx, dy):
        """점의 좌표를 원래 위치에 x축의 방향으로 dx만큼, y축의 방향으로 dy만큼 이동"""
        self.x += dx
        self.y += dy
    
    def distance(self, other):
        """현재 위치와 다른 점 other 사이의 거리를 리턴"""
        return math.sqrt((self.x - other.x)**2 + (self.y - other.y)**2)

In [25]:
pt1 = Point() # 생성자 호출 -> Point 클래스의 인스턴스 생성

In [29]:
# 객체(인스턴스)의 속성들(멤버 변수들)
print(pt1.x)
print(pt1.y)

0
0

In [32]:
pt2 = Point(x=3, y=4)
print(pt2)
print(pt2.x)
print(pt2.y)

<__main__.Point object at 0x7ff83f8e6a50>
3
4

In [34]:
pt3 = Point(1)
print(pt3)
print(pt3.x, pt3.y)

<__main__.Point object at 0x7ff83f93ff10>
1 0

In [38]:
pt4 = Point(y=1)
print(pt4)
print(pt4.x, pt4.y)

<__main__.Point object at 0x7ff83f925ed0>
0 1

In [39]:
# pt4를 x축의 방향으로 1만큼, y축의 방향으로 2만큼 이동
pt4.move(dx=1, dy=2)
print(pt4.x, pt4.y)

1 3

In [41]:
pt1.distance(pt2)

5.0

In [56]:
class Rectangle:
    """직사각형: 꼭지점의 x좌표, 꼭지점의 y좌표, 가로길이, 세로길이, 둘레 길이 계산 기능, 넓이 계산 기능"""

    def __init__(self, x=0, y=0, w=0, h=0):
        self.x = x
        self.y = y
        self.width = w
        self.height = h 

    def preimeter(self):
        return (self.width + self.height) * 2
    
    def area(self):
        return self.width * self.height

In [57]:
# 꼭지점의 좌표가 원점(0, 0)이고, 가로길이는 2, 세로길이는 3인 직사각형
rect1 = Rectangle(w=2, h=3)

In [59]:
rect1.preimeter() # (2 + 3) * 2

10

In [61]:
rect1.area() # 2 * 3

6

In [66]:
# 꼭지점의 좌표가 (1, 1)이고 가로 길이는 4, 세로 길이는 3인 직사각형
rect2 = Rectangle(1, 1, 4, 3)

In [68]:
rect2.preimeter()

14

In [69]:
rect2.area()

12

# magic method

모든 클래스가 같은 이름으로 가지고 있는 메서드. 특별한 경우에 자동으로 호출되는 메서드.

* `__init__(slef)`: 생성자를 호출하면 자동으로 호출되는 메서드.
* `__str__(self)`: `print()` 함수에서 자동으로 호출되는 메서드.
* `__repr__(slef)`: 식(expression)을 자동으로 출력할 때 호출되는 메서드.
    * 클래스에서 `__str__`과 `__repr__` 메서드가 다르게 구현되어 있으면, print() 함수의 출력과 식을 출력하는 내용이 다름.
    * `print` 함수는 `__str__` 메서드가 구현되어 있으면 `__str__`를 호출하고, `__str__` 함수가 구현되어 있지 않으면 `__repr__` 함수를 호출함.
* `__eq__(self, o)`: `==` 연산자가 사용됐을 때 자동으로 호출되는 메서드.
* `__add__(self, o)`: `+` 연산자가 사용됐을 때 자동으로 호출되는 메서드.
* `__mul__(self, o)`: `*` 연산바가 사용됐을 때 자동으로 호출되는 메서드.

In [ ]:
x = 1
print(x)
x

In [71]:
class Test:
    def __init__(self):
        print('Test 객체 생성됨')

    # def __str__(self):
    #     return 'Test 클래스 객체'

    def __repr__(self):
        return 'Test 인스턴스'

In [73]:
test = Test() # Test 클래스의 인스턴스 생성

Test 객체 생성됨

In [74]:
print(test) # 문장(statement) - print 함수는 객체의 __str__() 메서드가 리턴하는 문자열을 출력
test # 식(expression) - 식이 자동으로 출력될 때는 객체의 __repr__() 메서드가 리턴하는 문자열을 출력

<__main__.Test object at 0x7ff83f9d8d90>

In [75]:
numbers1 = [1, 2, 3]
numbers2 = [1, 2, 3]
numbers1 == numbers2 # == 연산자가 __eq__() 메서드를 호출: nubmers1.__eq__(numbers2)

True

In [76]:
id(numbers1) # 리스트 numbers1의 주솟값

140704194770656

In [77]:
id(numbers2) # 리스트 numbers2의 주솟값

140704194520080

In [88]:
class Test2:
    def __init__(self, x):
        self.x = x
    def __eq__(self, other):
        if isinstance(other, Test2):
            if self.x == other.x:
                return True
        return False

In [89]:
t1 = Test2(1)
t2 = Test2(1)

In [90]:
print(id(t1))
print(id(t2))

140704194795344
140704194795216

In [91]:
t1 == t2 # t1.__eq__(t2)의 결과

True

In [92]:
s1 = ''
s2 = ''
s1 == s2

True

In [93]:
numbers1 = [1, 2]
numbers2 = [3, 4]
numbers1 + numbers2 # numbers1.__add__(numbers2)

[1, 2, 3, 4]

In [94]:
numbers1 * 3 # numbers1.__mul__(3)

[1, 2, 1, 2, 1, 2]

## Ex 1. Score 클래스

* 속성(attribute):
    * 국어, 영어, 수학 점수
    * 모든 과목의 기본값은 0
* 기능(method)
    * `__repr__`: Score{국어=100, 영어=100, 수학=100} 문자열 포맷을 리턴
    * `calc_sum`: 세 과목 총점을 리턴
    * `calc_mean`: 세 과목 평균을 리턴

In [140]:
class Score:
    def __init__(self, k=0, e=0, m=0):
        self.korean = k
        self.english = e
        self.math = m

    def __repr__(self):
        return f'Score{{국어={self.korean}, 영어={self.english}, 수학={self.math}}}'
    def calc_sum(self):
        return self.korean + self.english + self.math
    def calc_mean(self):
        return self.calc_sum() / 3

In [97]:
score1 = Score()
score1

Score\{국어=0, 영어=0, 수학=0}

In [110]:
score2 = Score(k=90, e=80, m=70)
print(score2.calc_sum())
print(score2.calc_mean())

240
80.0

# Ex 2. Student 클래스

* 속성(attribute):
    * 이름, Score 객체
* 기능(method):
    * `__repr__`: Student{이름: xxx, Score:국어=100, 영어=100, 수학=100}}

In [130]:
class Student:
    def __init__(self, name, k=0, e=0, m=0):
        self.name = name
        self.score = Score(k, e, m)
    def __repr__(self):
        return f'Student{{이름: {self.name}, 점수: {self.score}}}'

In [131]:
stu1 = Student('홍길동')
stu1

Student{이름: 홍길동, 점수: Score\{국어=0, 영어=0, 수학=0}}

In [132]:
stu2 = Student('고길동', 70, 60, 90)

In [133]:
# stu2 객체의 점수 합계, 평균
print('총점 = ', stu2.score.calc_sum())
print('평균 = ', stu2.score.calc_mean())

총점 =  220
평균 =  73.33333333333333

In [137]:
class Student2:
    def __init__(self, name, score):
        self.name = name
        self.score = score
    def __repr__(self):
        return f'Student{{이름: {self.name}, 점수: {self.score}}}'

In [141]:
stu3 = Student2('abc', Score())
print(stu3)

Student{이름: abc, 점수: Score{국어=0, 영어=0, 수학=0}}

In [143]:
stu4 = Student2('def', Score(100, 90, 80))
stu4

Student{이름: def, 점수: Score{국어=100, 영어=90, 수학=80}}

In [144]:
print(stu4.score.calc_sum())
print(stu4.score.calc_mean())

270
90.0