<a href="https://colab.research.google.com/github/esn73/lab_python/blob/master/py19_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

# Series

* 한가지 타입의 값 여러개를 저장할 수 있는 1차원 모양의 데이터 타입(클래스).
* 축(axis) 레이블을 가지고 있는 1차원 배열(ndarray)

In [5]:
# pd.Series 클래스의 생성자를 호출 -> Series 클래스의 인스턴스를 생성
s = pd.Series(data=[1, 3, -5, -7])

In [6]:
s # expression(식) 자동 출력

0    1
1    3
2   -5
3   -7
dtype: int64

In [7]:
print(s) # print 문장(statment) 출력

0    1
1    3
2   -5
3   -7
dtype: int64

In [8]:
type(s)

pandas.core.series.Series

In [9]:
s.index # Series 객체의 index 속성(property, attribute) = 레이블(label)

RangeIndex(start=0, stop=4, step=1)

In [10]:
s.values # Series 객체의 values 속성 -  값들의 배열(ndarray)

array([ 1,  3, -5, -7])

## indexing, slicing

In [11]:
s[0]    # indexing

1

In [12]:
s[3]    # indexing

-7

In [13]:
s[0:2] # slicing - [0, 2) 범위의 원소들 0은 포함 2보다 작을때까지

0    1
1    3
dtype: int64

In [14]:
# s[-1] # 음수 인덱스를 사용하면 ValueError가 발생 - 레이블 기준이라 적용이 안됌
s[-2:] # 음수 slicing 가능 - indexing 기반이어서 가능

2   -5
3   -7
dtype: int64

## `iloc, loc` 속성

* `iloc`: __정수 인덱스__ 기반의 원소 참조(integer location)
* `loc`: __레이블__ 기반의 원소 참조(location)

In [15]:
s

0    1
1    3
2   -5
3   -7
dtype: int64

In [16]:
s.loc[0]

1

In [17]:
s.loc[3]

-7

In [18]:
# s.loc[-1]
#> ValueError: 레이블 -1은 없기 때문에.

In [19]:
s.iloc[3]

-7

In [20]:
s.iloc[-1]

-7

Series의 기본 indexing 방식은 loc 기반 인덱싱이어서, 음수 인덱스 사용이 불가능.

In [21]:
# loc를 사용한 slicing
s.loc[0:2]

0    1
1    3
2   -5
dtype: int64

In [22]:
# iloc를 사용한 slcing -  indexing 기준으로 end가 포함되지 않음
s.iloc[0:2]

0    1
1    3
dtype: int64

Slicing의 기본 slcing 방식은 iloc 기반 slicing이어서, 음수 인덱스 사용이 가능.

In [23]:
s = pd.Series(data=[1, -3, 5, -7, 9], index=['a', 'b', 'x', 'y', 'z'])
s

a    1
b   -3
x    5
y   -7
z    9
dtype: int64

In [24]:
# indexing
print(s.loc['z']) # 레이블이 z가 있는 loc
print(s.iloc[4])
print(s.iloc[-1])

9
9
9

In [25]:
# slicing
print(s.loc['x':'z'])
print(s.iloc[-3:])

x    5
y   -7
z    9
dtype: int64
x    5
y   -7
z    9
dtype: int64

In [26]:
print(s.iloc[2:5])

x    5
y   -7
z    9
dtype: int64

## fancy indexing

In [27]:
s

a    1
b   -3
x    5
y   -7
z    9
dtype: int64

In [28]:
s.loc[['a', 'x', 'z']] # 부분집합

a    1
x    5
z    9
dtype: int64

In [29]:
s.iloc[[0, 2, 4]]

a    1
x    5
z    9
dtype: int64

## boolean indxing

boolean indexing loc 기반으로 가능.

In [30]:
s > 0

a     True
b    False
x     True
y    False
z     True
dtype: bool

In [31]:
s[s > 0]

a    1
x    5
z    9
dtype: int64

In [32]:
s.loc[s > 0]

a    1
x    5
z    9
dtype: int64

# DataFrame

* 데이터를 2차원 (행 row, 열 colum) 형태로 저장하는 데이터 구조(클래스)
* 데이터베이스의 테이블과 유사한 구조

In [33]:
data = {
    'city':['서울'] * 3 + ['경기'] * 3,
    'year':[2020, 2021, 2022] * 2, 
    'pop': [0.89, 0.91, 0.92, 1.1, 1.3, 1.25],
}

In [34]:
data

{'city': ['서울', '서울', '서울', '경기', '경기', '경기'],
 'pop': [0.89, 0.91, 0.92, 1.1, 1.3, 1.25],
 'year': [2020, 2021, 2022, 2020, 2021, 2022]}

In [35]:
# pd.DataFrame 생성자 호출 -> pd.dataFrame 클래스의 인스턴스를 생성
df = pd.DataFrame(data)

In [36]:
print(df)

  city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92
3   경기  2020  1.10
4   경기  2021  1.30
5   경기  2022  1.25

In [37]:
df # expression 자동 출력

  city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92
3   경기  2020  1.10
4   경기  2021  1.30
5   경기  2022  1.25

In [38]:
# pd.DataFrame의 속성들(pperties)
print('shape:', df.shape) #> (rows, columns)
print('index:', df.index) #> 행(row) 레이블
print('columns:', df.columns) #> 열(column) 레이블

shape: (6, 3)
index: RangeIndex(start=0, stop=6, step=1)
columns: Index(['city', 'year', 'pop'], dtype='object')

# DataFrame에서 컬럼 선택

* `df['column_name']`
* `df.column_name`
    * 컬럼 이름이 Python의 변수 이름 규칙에 맞지 않는 경우에는 사용할 수 없음.
        * 변수 이름은 영문자, 숫자, underscore(_)만 사용할 수 있음.
        * 변수 이름은 숫자로 시작할 수 없음.
    * 컬럼 이름 DataFrame 객체가 우너래 가지고 있었던 속성(변수, 메서드) 이름과 같은 경우에는 사용할 수 없음.

In [39]:
# DataFrame에서 'pop' 컬럼 선택 --> Series
df['pop']

0    0.89
1    0.91
2    0.92
3    1.10
4    1.30
5    1.25
Name: pop, dtype: float64

In [40]:
df.pop # pop은 DataFrame이 원래 갖고 있었던 속성의 이름.

<bound method DataFrame.pop of   city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92
3   경기  2020  1.10
4   경기  2021  1.30
5   경기  2022  1.25>

In [41]:
# DataFrame에서 'city'컬럼 선택
df['city']

0    서울
1    서울
2    서울
3    경기
4    경기
5    경기
Name: city, dtype: object

In [42]:
df.city

0    서울
1    서울
2    서울
3    경기
4    경기
5    경기
Name: city, dtype: object

In [45]:
# DataFrame에서 2개 이상의 컬럼 선택 - fancy indexing
df[['city', 'pop']]

  city   pop
0   서울  0.89
1   서울  0.91
2   서울  0.92
3   경기  1.10
4   경기  1.30
5   경기  1.25

In [47]:
df[['pop']] #> DataFrame - 컬럼이 1개인 데이터 프레임(테이블처럼 결과)
# df['pop'] #> Series - 컬럼(레이블을 포함해서 나옴)

    pop
0  0.89
1  0.91
2  0.92
3  1.10
4  1.30
5  1.25

## DataFrame에서 행(row)선택

* `df.loc[레이블 기반 행 인덱스]`
* `df.iloc[정수 기반 행 인덱스]`

In [48]:
df

  city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92
3   경기  2020  1.10
4   경기  2021  1.30
5   경기  2022  1.25

In [50]:
df.loc[0]

city      서울
year    2020
pop     0.89
Name: 0, dtype: object

In [52]:
df.loc[5] # loc를 사용한 indexing

city      경기
year    2022
pop     1.25
Name: 5, dtype: object

In [55]:
# df.loc[-1] -> 사용X 
df.iloc[-1] # iloc를 사용한 indexing

city      경기
year    2022
pop     1.25
Name: 5, dtype: object

In [59]:
df.loc[1:3] # loc를 사용한 slicing

  city  year   pop
1   서울  2021  0.91
2   서울  2022  0.92
3   경기  2020  1.10

In [62]:
df.iloc[1:3] # iloc를 사용한 slicing

  city  year   pop
1   서울  2021  0.91
2   서울  2022  0.92

In [64]:
# DataFrame에서 첫 3개의 행을 출력
df.iloc[:3]

  city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92

In [65]:
df.head(n=3) # 메서드

  city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92

In [67]:
# DataFrame에서 마지막 3개의 행 출력
df.iloc[-3:]

  city  year   pop
3   경기  2020  1.10
4   경기  2021  1.30
5   경기  2022  1.25

In [69]:
df.tail(n=3)

  city  year   pop
3   경기  2020  1.10
4   경기  2021  1.30
5   경기  2022  1.25

## boolean indexing

DataFrame에서 조건을 만족하는 **행(row)들을 선택.

In [71]:
df

  city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92
3   경기  2020  1.10
4   경기  2021  1.30
5   경기  2022  1.25

In [76]:
df[df['year'] == 2022]

  city  year   pop
2   서울  2022  0.92
5   경기  2022  1.25

* boolean indexing에서는 `and, or, not`을 사용할 수 없음!
* 대신에 `&, |, ~`연산자를 사용함!
* 반드시 `()`를 먼저 사용해서 연산의 순서를 명시해야 함.

In [78]:
# 서울의 2020년 레코드만 선택
df[(df['city']=='서울') & (df['year']==2020)]

  city  year   pop
0   서울  2020  0.89

In [80]:
df[(df.city=='서울') & (df.year==2020)]

  city  year   pop
0   서울  2020  0.89

In [85]:
# city가 '서울'이거나 또는 pop이 1.2 이상인 레코드를 
df[(df.city == '서울') | (df['pop'] >= 1.2)]

  city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92
4   경기  2021  1.30
5   경기  2022  1.25

# DataFrame 메서드

In [87]:
# 숫자 타입 데이터의 기술 통계량(descriptive statistics) 요약: 
# NA(null)가 아닌 개수, 평균, 표준편차(std), 최솟값, 4분위수, 최댓값
# row에 기술 통계량을 출력
df.describe()

              year       pop
count     6.000000  6.000000
mean   2021.000000  1.061667
std       0.894427  0.182364
min    2020.000000  0.890000
25%    2020.250000  0.912500
50%    2021.000000  1.010000
75%    2021.750000  1.212500
max    2022.000000  1.300000

In [88]:
# 카테고리 타입 변수의 요약: 빈도수
df['city'].value_counts()

서울    3
경기    3
Name: city, dtype: int64

In [90]:
# 통계 메서드: sum, mean, var, std, min, max, median, ...
print('평균:', df['pop'].mean())
print('표준편차:', df['pop'].std())
print('중앙값:', df['pop'].median())

평균: 1.0616666666666668
표준편차: 0.18236410465512853
중앙값: 1.01

## DataFrame 연습

In [91]:
file_path = 'https://github.com/JakeOh/202110_itw_lab_python/raw/main/csv_exam.csv'

In [92]:
# GitHub에 저장된 CSV 파일을 읽고 DataFrame을 생성.
exam = pd.read_csv(file_path)

In [93]:
exam

    id  class  math  english  science
0    1      1    50       98       50
1    2      1    60       97       60
2    3      1    45       86       78
3    4      1    30       98       58
4    5      2    25       80       65
5    6      2    50       89       98
6    7      2    80       90       45
7    8      2    90       78       25
8    9      3    20       98       15
9   10      3    50       98       45
10  11      3    65       65       65
11  12      3    45       85       32
12  13      4    46       98       65
13  14      4    48       87       12
14  15      4    75       56       78
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58

exam 데이터 프레임에서
* 모든 컬럼의 기술 통계량을 출력
* 1반(class) 학생들의 레코드를 출력
* 수학 평균을 출력
* 수학 점수가 평균 이상인 학생들의 레코드를 출력

In [95]:
exam.describe()

             id      class       math    english    science
count  20.00000  20.000000  20.000000  20.000000  20.000000
mean   10.50000   3.000000  57.450000  84.900000  59.450000
std     5.91608   1.450953  20.299015  12.875517  25.292968
min     1.00000   1.000000  20.000000  56.000000  12.000000
25%     5.75000   2.000000  45.750000  78.000000  45.000000
50%    10.50000   3.000000  54.000000  86.500000  62.500000
75%    15.25000   4.000000  75.750000  98.000000  78.000000
max    20.00000   5.000000  90.000000  98.000000  98.000000

In [99]:
# 세  과목의 기술 통계량 요약!!!
exam[['math', 'english', 'science']].describe()

            math    english    science
count  20.000000  20.000000  20.000000
mean   57.450000  84.900000  59.450000
std    20.299015  12.875517  25.292968
min    20.000000  56.000000  12.000000
25%    45.750000  78.000000  45.000000
50%    54.000000  86.500000  62.500000
75%    75.750000  98.000000  78.000000
max    90.000000  98.000000  98.000000

In [96]:
exam[exam['class'] == 1]

   id  class  math  english  science
0   1      1    50       98       50
1   2      1    60       97       60
2   3      1    45       86       78
3   4      1    30       98       58

In [102]:
exam['math'].mean()

57.45

In [103]:
exam.math.mean()

57.45

In [107]:
exam[exam.math >= exam.math.mean()]

    id  class  math  english  science
1    2      1    60       97       60
6    7      2    80       90       45
7    8      2    90       78       25
10  11      3    65       65       65
14  15      4    75       56       78
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58

In [106]:
exam[exam['math'] >= exam['math'].mean()]

    id  class  math  english  science
1    2      1    60       97       60
6    7      2    80       90       45
7    8      2    90       78       25
10  11      3    65       65       65
14  15      4    75       56       78
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58

In [108]:
exam[['math', 'english', 'science']].mean()

math       57.45
english    84.90
science    59.45
dtype: float64

In [114]:
# 세 과목의 점수가 모두 평균 이상인 학생들을 출력
exam[(exam['math'] >= exam['math'].mean()) &
     (exam['english'] >= exam['math'].mean()) &
     (exam['science'] >= exam['science'].mean())]

    id  class  math  english  science
1    2      1    60       97       60
10  11      3    65       65       65
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87

In [117]:
# 1반 학생들의 수학 점수 평균
exam[exam['class'] ==1]['math'].mean()

46.25

In [118]:
# 2반 학생들의 수학 점수 평균
exam[exam['class'] == 2]['math'].mean()

61.25

In [121]:
# for-in  구문을 이용해서 각 반 학생들의 수학 점수 평균
for c in range(1, 6):
    mean = exam[exam['class'] == c]['math'].mean()
    print(f'{c}반 수학 평균: {mean}')

1반 수학 평균: 46.25
2반 수학 평균: 61.25
3반 수학 평균: 45.0
4반 수학 평균: 56.75
5반 수학 평균: 78.0